<ul id="nav">
  <li class="current"><a [routerLink]="['/profile']" >Accueil</a></li><!-- n1 -->
  <li><a href="#">Gérer les bases</a><!-- n1 -->
    <ul>
      <li><a [routerLink]="['/AddConvertMysqlComponent']" >Ajouter et convertir base de donée MYSQL</a></li><!-- n2 -->
      <li><a [routerLink]="['/profile']" >Ajouter et convertir base de donée XML</a></li><!-- n2 -->
    </ul>
  </li>
  <li><a href="#">Service d'optimisation</a>
    <ul>
      <li><a [routerLink]="['/consult-table']" >Consulter liste des tables ORACLE</a></li><!-- n2 -->
      <li><a [routerLink]="['/afficherTable']" >Consulter les colonnes de la table</a></li><!-- n2 -->
      <li><a [routerLink]="['/do-consult']" >Consulter l'ID de la table</a></li><!-- n2 -->
    </ul>	
  </li>	
  <li><a href="#">Exporter vers ORACLE</a>
  <ul>
      <li><a [routerLink]="['/profile']" >Exporter vers ORACLE</a></li><!-- n2 -->	
    </ul>
  </li>
  <li><a href="#">Moteur de régle</a>
  <ul>
      <li><a [routerLink]="['/profile']" >Joindre deux tables</a></li><!-- n2 -->	
      <li><a [routerLink]="['/contraint']" >Consulter contrainte</a></li><!-- n2 -->	
    </ul>
  </li>
  <!-- <li><a href="#">Contact</a></li> -->
  </ul>
  <br /><br /><br /><br /><br /><br />